footer{ 
    background-color: $color2;
    }
    
    footer p{
    color:#0a0909;
    text-align:center;
    }
    
    #iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:$color3;
    }